.carousel-caption.d-md-block{
        align-items:flex-end;
    }
    #carousel-main-page .carousel-caption h2{
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-shadow: 1px 2px 3px rgba(0,0,0,.6);
    }
    #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
    }
    section{
        padding: 2% 0;
        position:relative;
    }
    section h3{
        padding-bottom: .25rem;
        margin-bottom: 1.5rem;
        position: relative;
        text-align:center;
        text-transform: uppercase;
    }
    section h3:before{
        position: absolute;
        content: "";
        width: 33.3%;
        left: calc(50% - 16.65%);
        top: 100%;
        border-bottom: 1px solid orange;
    }
    section h3:after{
        position: absolute;
        content: "";
        top: calc(100% + 1px);
        left: calc(50% - 5px);
        width: 0;
    	height: 0;
    	border-left: 10px solid transparent;
    	border-right: 10px solid transparent;
    	border-top: 10px solid orange;
    }
    .ionicons{
        display:block;
        text-align:center;
        font-size: 2rem;
        margin-bottom: .25rem;
    }
    .ionicons-inline{
        font-size: 2rem;
        display:inline-block;
    }
    .tile h5{
        font-weight: 400;
        text-align: center;
    }
    .tile h5 a{
        color: #333;
    }
    .tiles{
        margin: 1% 0;
    }
    #puntajes{
        margin: 1rem 0;
    }
    #puntajes p{
        margin-bottom: .25rem;
    }
    #puntajes .ionicons-inline{
        color: darkorange;
    }
    #btn-favorite{
        color: red;
    }
    .checks .form-check {
        position: relative;
    }
    
    .checks .form-check .form-check-input {
        position: absolute;
        left: calc(50% - .5rem);
        z-index: 0;
        opacity: 0;
    }
    .checks .form-check .form-check-label .ionicons-inline {
        position: relative;
        z-index: 2;
        cursor: pointer;
    }
    .ion-android-star, .ion-android-star-outline {
        color: darkorange;
        
    }
    .carousel-caption .ion-android-star, .carousel-caption .ion-android-star-outline {
        color: white;
        
    }
    .form-check .ion-android-star:hover,.form-check .ion-android-star-outline:hover{
        text-shadow: 0px 1px 2px rgba(0,0,0,.45);
    }