/*header{*/
/*    position: static;*/
/*    background-color: white;*/
/*    margin-bottom: 1rem;*/
/*}*/
.nav-bar > .brand a img{
    height: auto;
}
/*main{*/
/*    padding: 2% 0;*/
/*}*/
.nav-bar > .brand a{
    padding: 0;
}
.nav-bar > .brand a img{
    background-color: white;
    padding: .5rem 6px;
}
.nav-bar nav>ul>li>a:hover {
    border-bottom: 2px solid white;
}
.carousel-inner>.carousel-item {
    height: 320px;
}
.carousel-inner>.carousel-item>img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    
    min-height: 100%;
    min-width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
}
@media only screen and (min-width: 768px) {
    .carousel-inner>.carousel-item {
        height: 480px;
    }
    
}
@media only screen and (min-width: 992px) {
    .carousel-inner>.carousel-item {
        height: 530px;
    }
}
@media only screen and (min-width: 1200px) {
    .carousel-inner>.carousel-item {
        height: 580px;
    }
    .tiles .tile:not(.inline-tile){
        width: calc(33.3% - 1rem);
    }
}
@media only screen and (min-width: 1400px) {
    .carousel-inner>.carousel-item {
        height: 630px;
    }
    .tiles .tile:not(.inline-tile){
        width: calc(25% - 1rem);
    }
}
@media only screen and (min-width: 1600px) {
    .carousel-inner>.carousel-item {
        height: 650px;
    }
    
}
@media only screen and (min-width: 1900px) {
    .carousel-inner>.carousel-item {
        height: 720px;
    }
}