body, html{
	font-size: 16px;
	font-family: 'Futura', sans-serif;
	font-weight: 400;
	background-color: white;
}

h1, h2, h3, h4, h5{
	font-family: 'Futura', sans-serif;
	font-weight: 700;
}

/*Transición suave para movimiento de elementos y evitar que el usuario copie el contenido del elemento*/
.toolbar, #nav-menu-main, .tile {
    transition: all .16s ease-in-out;
    -webkit-transition: all .16s ease-in-out;
    -moz-transition: all .16s ease-in-out;
     
}
header {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
/*Sombra nivel 1*/
#socialNetworks-fixed, .tile:hover{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4);
    
}

/*Sombra nivel 2*/
#processing, .errores .alert.alert-danger, #socialNetworks-fixed:hover {
    box-shadow: 0px 8px 15px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 8px 15px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 8px 15px rgba(0,0,0,.3);
}
/*Barra de carga*/
.loadingContent {
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top: 10%;
    background-color: white;
    text-align: center;
    z-index: 100000;
}
.loadingContent .loader {
    position: relative;
    /*top: 37.3%;*/
    left: 0;
    width: 100%;
    text-align: center;
    clear: both;
}
.loadingContent .loader img{
    display:block;
    margin: 0 auto;
}

.loadingContent span {
    position: relative;
    /*top: 63%;*/
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: Futura,sans-serif;
    color: dimgray;
}

/*Flexbox*/

.nav-bar, .nav-bar>.brand a, div#socialNetworks-fixed, .tiles{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
}


.stats {
    background-image: url(../../img/icons/sprite-stats.png);
    background-repeat: no-repeat;
    display: block;
}

.stats-emisor {
    width: 64px;
    height: 64px;
    background-position: -5px -5px;
}

.stats-empleo {
    width: 64px;
    height: 64px;
    background-position: -5px -79px;
}

.stats-interno {
    width: 64px;
    height: 64px;
    background-position: -5px -153px;
}

.stats-oferta {
    width: 64px;
    height: 64px;
    background-position: -5px -227px;
}

.stats-receptor {
    width: 64px;
    height: 64px;
    background-position: -5px -301px;
}

.stats-sostenible {
    width: 64px;
    height: 64px;
    background-position: -5px -375px;
}
footer{
	margin-top: 2%;
}

/*Navbar*/
#nav-menu-main>.brand, #nav-menu-main>nav{
    width: auto;
}
#nav-menu-main>nav{
    width: 100%;
}
#nav-menu-main>.brand a{
    align-items: center;
    text-align:center;
    justify-content: center;
}
#nav-menu-main{
    background-color: transparent;
    /*border-bottom: 2px solid #c08e2d;*/
    color: white;
    align-items: center;
    /*padding: 6px 2%;*/
    font-family: Futura, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
#nav-menu-main a{
    color: white;
}
#nav-menu-main>.brand{
    width: 80%;
}
#nav-menu-main nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav-menu-main nav>ul ul{
    background-color: white;
    z-index: 30;
}
#nav-menu-main nav>ul>li ul, #nav-menu-main nav > ul > li.in > ul > li > ul{
    display: none;
}
#nav-menu-main nav>ul>li.in ul, #nav-menu-main nav > ul > li.in > ul > li.second-in > ul{
    display: block;
}

/*#nav-menu-main nav>ul>li:not(:last-child){*/
/*    border-bottom: 1px solid #415B91;*/
/*}*/
#nav-menu-main nav > ul > li.in > ul > li.second-in > ul{
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

#nav-menu-main nav > ul li > a, #nav-menu-main nav > ul li ul a {
    display:block;
    width: 100%;
    text-align:center;
    padding: .5rem 1rem;
}

#nav-menu-main nav>ul li>a{
    position:relative;
    background-color: #004A87;
    
}
/*Propio de SITUR Cesar*/


#nav-menu-main nav>ul li>a[href="/"]{
    background-color: #f29123;
}
#nav-menu-main nav>ul li>a[href="#menu-visitarAlCesar"]{
    background-color: #018037;
}
#nav-menu-main nav>ul li>a[href="#menu-estadisticas"]{
    background-color: #1576bb;
}
#nav-menu-main nav>ul li>a[href="#menu-publicaciones"]{
    background-color: #e42728;
}
#nav-menu-main nav>ul li>a#menu-contacto, #nav-menu-main nav>ul li>a[href="#menu-preparaTuViaje"]{
    background-color: #8bbe44;
}
#nav-menu-main nav>ul li ul a{
    background-color: white;
    color: #333;
    text-transform: initial;
    font-weight: 400;
}
#nav-menu-main nav>ul li a:hover{
    text-decoration: none;
    /*background-color: #415B91;*/
    
}
#nav-menu-main nav>ul li ul li a:hover{
    color: white;
    background-color: #c08e2d;
}
#nav-menu-main nav>ul li.second-in>a {
    background-color: lightgray;
}
#nav-menu-main nav>ul>li ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
#nav-menu-main{
    display:none;
}
#nav-menu-main.show{
    display:block;
}
#navbar-mobile{
    width: 100%;
}
#navbar-mobile button{
    font-size: 2rem;
    border-radius: 0;
}
.brand img {
    margin: .5rem;
}

.brand {
    text-align: center;
    background-color: white;
}

#socialNetworks-fixed {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 60;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    max-width: 50px;
}
#socialNetworks-fixed a {
    padding: .5rem .75rem;
    background-color: green;
    color:white;
    flex-grow: 1;
    width: 100%;
    text-align: center;
}
#socialNetworks-fixed a:nth-child(1){
    background-color: dodgerblue;
}
/*#socialNetworks-fixed a:nth-child(2){*/
/*    background-color: #4267b2;*/
/*}*/
#socialNetworks-fixed a:nth-child(2){
    background: -webkit-radial-gradient(70% 70%,ellipse,#ee583f 8%,#d92d77 42%,#bd3381 58%);
    background: radial-gradient(ellipse at 70% 70%,#ee583f 8%,#d92d77 42%,#bd3381 58%);
}
#searchMainTBox, #toolbar-main select {
    border: 0;
    border-bottom: 1px solid #eee;
}
#searchMainTBox:focus, #searchMainTBox:visited, #toolbar-main select:focus {
    box-shadow: none;
    outline: 0;
    border-bottom-color: #ddd;
}
#searchMainTBox + button{
    border: 0;
    background-color: transparent;
    cursor:pointer;
}
#searchMainTBox:focus + button{
    background-color: #eee;
}
#toolbar-main{
    padding: 4px .5rem;
    background-color:white;
}
#toolbar-main>form, #toolbar-main>a{
    margin: 0 .5rem;
    color:#333;
}

.card{
	margin-bottom:1rem;
}
.card-body, .card-footer {
    padding: .5rem;
}
.card-footer{
	padding: .5rem;
}
.carousel-caption.d-md-block {
    display: flex!important;
}
.carousel-caption {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    vertical-align: middle;
    padding: 2% 4%;
    background: rgba(0,0,0,0.35);
	
}
.carousel-caption h3{
    text-transform: uppercase;
	text-shadow: 0px 1px 2px rgba(0,0,0,.85);
	line-height: 1.4;
}
.carousel-caption h3 small{
    text-transform: initial;
}

.links {
    background-image: url(../../img/icons/sprite-links.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

.links-libro {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.links-eventos {
    width: 32px;
    height: 32px;
    background-position: -5px -47px;
}

.links-biblioteca {
    width: 32px;
    height: 32px;
    background-position: -5px -89px;
}

.links-noticias {
    width: 32px;
    height: 32px;
    background-position: -5px -131px;
}

.links-bolsaEmpleo {
    width: 32px;
    height: 32px;
    background-position: -5px -173px;
}

.tiles.wrap{
    flex-wrap: wrap;
}
.tiles:before, .tiles:after{
    display: table;
    content: " ";
}
.tiles:after{
    clear: both;
}
.tiles .tile{
    display: inline-block;
    float: left;
    width: 100%;
    margin: 0 .5rem;
    margin-bottom: 1rem;
    background-color: white;
}
.tiles .tile:hover{
    position:relative;
    z-index: 2;
}
.tiles .tile .tile-img{
    height: 160px;
}

.tiles .tile.tile-lg .tile-img{
    height: 180px;
}
.tile {
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: .5rem;
    background-color: rgba(0,0,0,.5);
}
.tile .tile-img, .tile.inline-tile .tile-img {
    width: 100%;
    overflow: hidden;
    position:relative;
    background-color: #eee;
}
.tile .tile-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.tile .tile-img img, .tile.inline-tile .tile-img img{
    max-width: 100%;
}
.tile .tile-img.overlap{
    height: 100%;
}
.tile .tile-img .text-overlap{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.35);
    color:white;
    padding: .5rem;
    z-index: 2;
    background: rgba(248,80,50,0.05);
    background: -moz-linear-gradient(top, rgba(248,80,50,0.05) 0%, rgba(0,0,0,0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,0.05)), color-stop(100%, rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top, rgba(248,80,50,0.05) 0%, rgba(0,0,0,0.8) 100%);
    background: -o-linear-gradient(top, rgba(248,80,50,0.05) 0%, rgba(0,0,0,0.8) 100%);
    background: -ms-linear-gradient(top, rgba(248,80,50,0.05) 0%, rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, rgba(248,80,50,0.05) 0%, rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#000000', GradientType=0 );
    overflow: auto;
}
.tile .tile-img .text-overlap:hover{
    background: rgba(0,0,0,0.07);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.85) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,0.1)), color-stop(100%, rgba(0,0,0,0.85)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.85) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.85) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#000000', GradientType=0 );
}
.tile .tile-img .text-overlap p, .tile .tile-img .text-overlap h3{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    font-family: 'Futura', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    text-shadow: 0px 1px 2px rgba(0,0,0,.65);
    margin: 0;
}
.tile .tile-img .text-overlap p a, .tile .tile-img .text-overlap h3 a{
    color:white;
}
.tile .tile-img .text-overlap p a:hover, .tile .tile-img .text-overlap h3 a:hover{
    text-decoration: underline;
    text-decoration-style: solid 
}
.tile .tile-body {
    padding: .5rem 4%;
    width: 100%;
}
.tile .tile-caption p{
    margin: 0;
    
}
.tile .tile-caption p a, .tile .tile-caption p{
    color: #004a87;
}
.tile .tile-caption h3 {
    font-size: 1.125rem;
    margin: .5rem 0;
    line-height: 1.375rem;
}
.tile .tile-caption h3 a{
    font-weight: 700;
    color: #1c4185;
}

.tile .tile-caption .date, .tile .date {
    font-size: 0.875rem;
}
.tile .tile-caption + a, .tile .tile-caption + p + a, .tile .tile-caption + .buttons {
    display:inline-block;
    float:right;    
}
.tile .tile-buttons{
    text-align: right;
    padding: .325rem .5rem;
    background-color: transparent;
}
.tile .tile-buttons button{
    border: 0;
    background-color: inherit;
    padding: 2px 6px;
    border-radius: 2px;
    cursor: pointer;
}
.tile .tile-buttons button:hover{
    background-color: rgba(0,0,0,.1);
}
.tile .tile-buttons .inline-buttons:before, .tile .tile-buttons .inline-buttons:after{
    content: " ";
    display: table;
}
.tile .tile-buttons .inline-buttons:before{
    clear: both;
}
.tile .tile-buttons .inline-buttons button, .tile .tile-buttons .inline-buttons a{
    float: left;
    padding: 2px 3px;
}
.inline-buttons{
    display:inline-block;
    vertical-align: top;
}

.tile.inline-tile, #events .tile.inline-tile .tile-img{
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
}
.tile.inline-tile .tile-img {
    background-color: #eee;
    color: #333;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    min-height: 130px;
    width: 100%;
    overflow: hidden;
    position:relative;
}
.title.inline-tile {
    padding-left: 1rem;
}
.tile.inline-tile .tile-img img {
    width: 100%;
    height: auto;
}
.tile .tile-caption h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #00294B;
    margin: .5rem 0;
    line-height: 1.3;
}

.tile .date, .tile .tile-caption .date, .tile h3 small {
    font-size: .875rem;
    margin-bottom: .5rem;
}
.tile .tile-caption+.buttons, .tile .tile-caption+a, .tile .tile-caption+p+a {
    display: inline-block;
    float: right;
}
.tile.inline-tile .tile-img span {
    display: block;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0;
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
    color: white;
    font-weight: 500;
}
.tile.inline-tile .tile-img span.day {
    font-weight: 700;
    font-size: 2.325rem;
    line-height: 2.25rem;
}

#logosFooter{
    background: white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4);
}
footer{
	background-color: green;
	color: white;
	padding: 1rem 0;
}

.header-list{
    background-color: rgba(221,221,221,.3);
    min-height: 250px;
    display: flex;
    align-items: flex-end;
    vertical-align: bottom;
    position: relative;
    
}
.header-list.without-options{
    min-height: 220px;
    padding-bottom: 1rem;
}
.header-list:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/bg_header.png);
    opacity: 0.1;
    z-index: 0;
}
.header-list .title-section{
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    color: green;
    text-shadow: 0px 1px 3px rgba(0,0,0,.4);
    text-align: center;
}


/*Carousel*/
.nav-bar nav>ul>li>a:hover {
    border-bottom: 2px solid white;
}
.carousel-inner>.carousel-item {
    height: 320px;
}
.carousel-inner>.carousel-item>img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    
    min-height: 100%;
    min-width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
}




/*Fonts*/
@font-face {
    font-family: 'Futura';
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/FuturaStdMedium.eot');
    src: local('Futura'),
         url('../../fonts/FuturaStdMedium.eot') format('embedded-opentype'),
         url('../../fonts/FuturaStdMedium.woff') format('woff'),
         url('../../fonts/FuturaStdMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Futura';
    font-weight: 500;
    font-style: normal;
    src: url('../../fonts/FuturaMedium.eot');
    src: local('Futura Medium'),
         url('../../fonts/FuturaMedium.eot') format('embedded-opentype'),
         url('../../fonts/FuturaMedium.woff') format('woff'),
         url('../../fonts/FuturaMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Futura';
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/FuturaStdBold.eot');
    src: local('Futura Bold'),
         url('../../fonts/FuturaStdBold.eot') format('embedded-opentype'),
         url('../../fonts/FuturaStdBold.woff') format('woff'),
         url('../../fonts/FuturaStdBold.ttf') format('truetype');
}
